{{! Para importar tasks, se mete a la carpeta de esa manera }}

<div class="container">
    <div class="row">
        <div class="col-md-5">
            {{> tasks/taskForm }} {{! Formulario para agregar tareas }}
        </div>
        <div class="col-md-7">
            {{> tasks/taskTable }}
        </div>
    </div>
</div>