<nav class="navbar navbar-dark bg-black mb-4">

  <div class="container">
    <a href="/" class="navbar-brand">Creador Mega-Universal de CV</a> {{! Para poner el nombre de la página }} 
  </div>

</nav>